services:
  db:
    image: mysql:8
    container_name: mysql_db  # <--- AGREGAMOS ESTO (Nombre fijo)
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - appnet
    # Healthcheck: Avisa cuando MySQL realmente ya arrancó
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: ./backend
    container_name: backend_app # Nombre fijo para identificarlo fácil
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy # Espera a que la DB esté sana
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - appnet

  # ... (La sección de monitoreo node_exporter y cadvisor déjala igual) ...
  node_exporter:
    image: prom/node-exporter:latest
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
    ports:
      - "9100:9100"
    networks:
      - appnet

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    restart: unless-stopped
    privileged: true
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
    driver: bridge