name: CI/CD Producción Local

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Obtener código nuevo
        uses: actions/checkout@v3

      - name: Copiar secretos locales
        run: |
          # Copiamos el .env que YA existe en tu servidor a la carpeta temporal del runner
          cp /opt/app/.env .env
      - name: Desplegar contenedores
        run: |
          echo "Reiniciando servicios con nuevos cambios..."

           # Eliminar contenedores con nombres fijos que puedan existir
           docker rm -f cadvisor node_exporter mysql_db 2>/dev/null || true
           docker rm -f $(docker ps -q --filter "publish=9100") 2>/dev/null || true
           docker rm -f $(docker ps -q --filter "publish=8080") 2>/dev/null || true

           docker compose down --remove-orphans
           docker compose up -d --build --remove-orphans
      - name: Limpieza
        run: |
          docker image prune -f
